{% extends "../layout.html" %}

{% block content %}
<div class="container wrapper flex-grow-1">
<h1 class="my-4">Задачи</h1>
<a class="btn btn-primary mb-3" href="{% url 'task_create' %}" role="button">Создать задачу</a>


    {% comment %} <form method="get">
        {{ filter.form.as_p }}
        <input type="submit" value="Показать"/>
    </form> {% endcomment %}

<div class="card mb-3">
  <div class="card-body bg-light">
    <form class="form-inline center" method="get">
      <div class="mb-3">
        <label class="form-label" for="id_status">Статус</label>
          {{ filter.form.status }}
      </div>
      <div class="mb-3">
        <label class="form-label" for="id_executor">Исполнитель</label>
          {{ filter.form.executor }}
      </div>
      <div class="mb-3">
        <label class="form-label" for="id_label">Метка</label>
          {{ filter.form.label }}
      </div>
        <div class="mb-3">
          <div class="form-check">
            {{ filter.form.self_tasks }}
          {% comment %} <input type="checkbox" name="self_tasks" class="form-check-input mr-3" id="id_self_tasks"> {% endcomment %}
          <label class="form-check-label" for="id_self_tasks">Только свои задачи</label>
        </div>
      </div>
      <input class="btn btn-primary" type="submit" value="Показать">
    </form>
  </div>
</div>

<table class="table table-striped">
<thead>
  <tr>
    <th>ID</th>
    <th>Имя</th>
    <th>Статус</th>
    <th>Автор</th>
    <th>Исполнитель</th>
    <th>Дата создания</th>
    <th></th>
  </tr>
</thead>
<tbody>
    {% for obj in filter.qs %}
    <tr>
      <td>{{ obj.id }}</td>
      <td>
        <a href="{% url 'task_detail' obj.id %}">{{ obj.name }}</a>
      </td>
      <td>{{ obj.status }}</td>
      <td>{{ obj.author }}</td>
      <td>{{ obj.executor }}</td>
      <td>{{ obj.created_at|date:"d.m.Y H:i" }}</td>
      <td>
        <a href="{% url 'task_update' obj.id %}">Изменить</a>
        <br>
        <a href="{% url 'task_delete' obj.id %}">Удалить</a>
      </td>
    </tr>
    {% endfor %}
</tbody>
</table>

  </div>
{% endblock content %}
