{% extends "../layout.html" %}

{% block content %}
<div class="container wrapper flex-grow-1">
<h1 class="my-4">{{ title }}</h1>

<form method="post">
{% csrf_token %}
<div class="mb-3">
    <label class="form-label" for="id_name">Имя</label>
    {{ form.name }}
</div>
<div class="mb-3">
    <label class="form-label" for="id_description">Описание</label>
    {{ form.description }}
</div>
<div class="mb-3">
<label class="form-label" for="id_status">Статус</label>
    {{ form.status }}
</div>
<div class="mb-3">
<label class="form-label" for="id_executor">Исполнитель</label>
    {{ form.executor }}
</div>
<div class="mb-3">
<label class="form-label" for="id_executor">Метки</label>
    {{ form.label }}
</div>
  <input class="btn btn-primary" type="submit" value="{{ button }}">
</form>

</div>
{% endblock content %}
